<hr>
<h3>Conditional</h3> 

<form action="benvenuto.php" method="post">
Come ti chiami?<br />
<input type="text" name="nome" /><br /><br />
Ragazza o ragazzo?<br />
<input type="radio" name="sesso" value="F" />Femmina<br />
<input type="radio" name="sesso" value="M" />Maschio<br /><br />
<input type="submit" name="invia" value="Entra nel sito!" />
</form>