<hr>
<h3>Form</h3>
<form action="wellcome.php" method="get">
Inserisci il tuo nome:<br />
<input type="text" name="nome" id="nome" required/><br /><br />
Inserisci il tuo cognome:<br />
<input type="text" name="cognome" id="cognome" required/><br /><br />
<input type="submit" value="Invia" />
</form>
