<hr>
<h3>Tipi</h3>

<?php
	$a = 0.03;
	$b = 3.0E-3;
	$c = true;
	echo "$a $b $c true <br>";
	$zero = 0;
	$ten = 10;
	$ris =  $zero > $ten;
	$ris2 =  $zero < $ten;
	echo (int) $ris .' false</br>';
	echo (int) $ris2 .' true</br>';
	
	// Array questo è il primo modo
	$array[] = "Federico";
	$array[] = "Ilaria";
	$array[] = "Gabriele";
	
	// Array questo è il secondo modo
	$array2 = array("Federico", 1, false);
	echo "$array[0] $array[2] $array[1]";

	//Array associativi
	$array3['primo_elemento'] = "Primo";
	$array3['secondo_elemento'] = "Secondo";
	$array3['terzo_elemento'] = "Terzo";
	echo "</br> {$array3['terzo_elemento']}";

?>
	
